.App {
  text-align: center;
  background: url('https://i.ibb.co/7Y2942S/Processed-with-VSCO-with-p8-preset.jpg')  repeat-x fixed;
  background-size: 650px 500px;
  overflow-y: scroll;
  background-color: #fedec0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  color: #102f45;
}



.Main-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fedec0;
  flex-direction: column;
  align-items: center;
  background-color: #102f45;
  opacity: 0.87;
  border-radius: 25px;
  padding: 10px;
}

#page-title {
  letter-spacing: 13px;
  font-weight: 100;
}



.Pinata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
}

#pinata-pic {
  width: 65%;
  height: 65%; 
  cursor: pointer;
}



.Candies {
display: inline-block;
margin-top: -70px;
}

.Candy-piece {
  width: 20%;
  height: 20%;
}


.Submission-form {
  padding: 50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


/* Pinata animation */
@keyframes swing-pinata { 
  20% { transform: rotate(6deg); } 
  40% { transform: rotate(-4deg); } 
  60% { transform: rotate(6deg); } 
  80% { transform: rotate(-4deg); } 
  100% { transform: rotate(0deg); } 
} 

.Pinata {
  animation: swing-pinata 10s infinite;
}

